Linear Regression on Kaggle Competition for Houses Prices
Datos desde Kaggle

Paso 1. Definicion del Problema :

  Se requeire predecir el precio de las casas a parti de una muestra de datos.

Paso 2. Comenzar las Obtensión de datos (Importar y cargar )
Se toman datos de Kaggle test y train. archivos csv
Para poder ejecutar código python de carga de datos , es necesario realizar importación de librerias

In [1]:
#Import Librerias


#lote de librerias para majejo de de estructuras de datos y visualización.
import numpy              as np
import pandas             as pd
import matplotlib.pyplot  as plt
import seaborn            as sns
import random 

#Lote de Librerias para Preparacion de Datos.

In [2]:
#Lote de Librerias para Preparacion de Datos.

from sklearn.preprocessing  import OneHotEncoder, OrdinalEncoder
from sklearn.impute         import SimpleImputer
from sklearn.compose        import  make_column_transformer
from sklearn.model_selection import train_test_split

In [3]:
#Lote de Librerias para Modelar .

from sklearn.linear_model import LinearRegression
from sklearn              import metrics

In [4]:
#configurando la pantalla praa despliegue de datos.

pd.set_option('display.max_rows',90)
pd.set_option('display.max_columns',90)

In [6]:
#importar datos

df = pd.read_csv('F:/Ciencia de Datos/Primeros-Proyectos/Precios Casas/Recursos/house-prices-advanced-regression-techniques/train.csv')

df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [10]:
df

,LotFrontage,HouseStyle,FireplaceQu,LandSlope,3SsnPorch,RoofStyle,Id,BsmtFinType2,Condition1,MSSubClass,RoofMatl,BsmtUnfSF,BldgType,3SsnPorch,Exterior2nd,Fireplaces,ExterCond,LandContour,BsmtFinType2,Functional,SalePrice
0,65.0,2Story,NaN,Gtl,0,Gable,1,Unf,Norm,60,CompShg,150,1Fam,0,VinylSd,0,TA,Lvl,Unf,Typ,208500
1,80.0,1Story,TA,Gtl,0,Gable,2,Unf,Feedr,20,CompShg,284,1Fam,0,MetalSd,1,TA,Lvl,Unf,Typ,181500
2,68.0,2Story,TA,Gtl,0,Gable,3,Unf,Norm,60,CompShg,434,1Fam,0,VinylSd,1,TA,Lvl,Unf,Typ,223500
3,60.0,2Story,Gd,Gtl,0,Gable,4,Unf,Norm,70,CompShg,540,1Fam,0,Wd Shng,1,TA,Lvl,Unf,Typ,140000
4,84.0,2Story,TA,Gtl,0,Gable,5,Unf,Norm,60,CompShg,490,1Fam,0,VinylSd,1,TA,Lvl,Unf,Typ,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,2Story,TA,Gtl,0,Gable,1456,Unf,Norm,60,CompShg,953,1Fam,0,VinylSd,1,TA,Lvl,Unf,Typ,175000
1456,85.0,1Story,TA,Gtl,0,Gable,1457,Rec,Norm,20,CompShg,589,1Fam,0,Plywood,2,TA,Lvl,Rec,Min1,210000
1457,66.0,2Story,Gd,Gtl,0,Gable,1458,Unf,Norm,70,CompShg,877,1Fam,0,CmentBd,2,Gd,Lvl,Unf,Typ,266500
1458,68.0,1Story,NaN,Gtl,0,Hip,1459,Rec,Norm,20,CompShg,0,1Fam,0,MetalSd,0,TA,Lvl,Rec,Typ,142125
1459,75.0,1Story,NaN,Gtl,0,Gable,1460,LwQ,Norm,20,CompShg,136,1Fam,0,HdBoard,0,TA,Lvl,LwQ,Typ,147500

In [8]:
miembros = {'Victor':100 , 'Paola':100}

#Generadno las semillas para numpy y para random
np.random.seed(sum(miembros.values()))
random.seed(sum(miembros.values()))

#seleccionando las columnas para el proyecto. No es seleccion por análisis. Es Random.
columnas_para_proyecto = random.choices(  list(df[1:80]) , k = 20)
df = df[columnas_para_proyecto + ['SalePrice']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1201 non-null   float64
 1   HouseStyle    1460 non-null   object
 2   FireplaceQu   770 non-null    object
 3   LandSlope     1460 non-null   object
 4   3SsnPorch     1460 non-null   int64
 5   RoofStyle     1460 non-null   object
 6   Id            1460 non-null   int64
 7   BsmtFinType2  1422 non-null   object
 8   Condition1    1460 non-null   object
 9   MSSubClass    1460 non-null   int64
 10  RoofMatl      1460 non-null   object
 11  BsmtUnfSF     1460 non-null   int64
 12  BldgType      1460 non-null   object
 13  3SsnPorch     1460 non-null   int64
 14  Exterior2nd   1460 non-null   object
 15  Fireplaces    1460 non-null   int64
 16  ExterCond     1460 non-null   object
 17  LandContour   1460 non-null   object
 18  BsmtFinType2  1422 non-null   object
 19  Functional    1460 non-null   object
 20  SalePrice     1460 non-null   int64
dtypes: float64(1), int64(7), object(13)
memory usage: 239.7+ KB

Columnas Selccionadas

3.- Exploración de Datos

In [11]:
df.shape
#df.head()

(1460, 21)